<div id="container">
    <form [formGroup]="adminForm">
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="groupNo" id="groupNo"
            (change)="onChangeGroupNo($event)"
            placeholder="Enter Group Number"
                aria-label="Enter Group Number" aria-describedby="basic-addon2">
               
            <div class="input-group-append">
                <button id="search" (click)="getAdminData()" [disabled]="!adminForm.valid" class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          
        </div>
           <div class="input-group mb-3" *ngIf="adminForm.get('groupNo')?.touched && adminForm.get('groupNo')?.invalid">
                <small style="color: red;" *ngIf="adminForm.get('groupNo')?.errors?.['required']">Group number is required.</small>      
                </div>
        <div class="input-group mb-3 mt-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="tipMode">Select Mode:</label>
            </div>
            <select (change)="getAdminData()" class="custom-select" id="tipMode" formControlName="tipMode">
                <option value="5000">5000</option>
                <option value="7000">7000</option>
            </select>
        </div>

    </form>
    <div class="mb-3 mt-3">
        <table class="table table-bordered">
            <!-- <thead>
            <tr>
                <th>Number</th>
                <th>Value</th>
            </tr>
        </thead> -->
            @if (scoreBoardTotal$ | async; as total) {
            <tbody>
                <tr>
                    <td>1 :</td>
                    <td [style.color]="total.one | numberColor">{{ total.one }}</td>
                </tr>
                <tr>
                    <td>2 :</td>
                    <td [style.color]="total.two | numberColor">{{ total.two }}</td>
                </tr>
                <tr>
                    <td>3 :</td>
                    <td [style.color]="total.three | numberColor">{{ total.three }}</td>
                </tr>
                <tr>
                    <td>4 :</td>
                    <td [style.color]="total.four | numberColor">{{ total.four }}</td>
                </tr>
                <tr>
                    <td>5 :</td>
                    <td [style.color]="total.five | numberColor">{{ total.five }}</td>
                </tr>
                <tr>
                    <td>6 :</td>
                    <td [style.color]="total.six | numberColor">{{ total.six }}</td>
                </tr>
            </tbody>
            }

        </table>
    </div>

    <div class="mb-3 mt-3">
        <table class="table table-bordered">
            <thead>

                <tr>
                    <th>群号</th>
                    <th>输赢</th>
                    <th>落子</th>
                    <th>小费</th>
                    <th>统计</th>
                </tr>
            </thead>
            <tbody>
                @for (item of lstScoreBoardGrid$ | async; track item) {
                <tr>
                    <td>{{ item.inputByUser }}</td>
                    <td [style.color]="item.mainTube | numberColor">{{ item.mainTube }}</td>
                    <td>{{ item.luozi }}</td>
                    <td [style.color]="item.smallTable | numberColor">{{ item.smallTable }}</td>
                    <td [style.color]="item.statistics | numberColor">{{ item.statistics }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
   <div class="mb-3 mt-3">
        <table class="table table-bordered">
            <thead>

                <tr>
                    <th>开4</th>
                    <th>输赢</th>
                    <th>落子</th>
                    <th>小费</th>
                    <th>统计</th>
                </tr>
            </thead>
            <tbody>
                @for (item of lstDataPerRoundSum$ | async; track item) {
                <tr>
                    <td>{{ item.tube }}</td>                 
                    <td [style.color]="item.winOrLose | numberColor">{{ item.winOrLose }}</td>
                    <td>{{ item.luozi }}</td>
                    <td [style.color]="item.smallTable | numberColor">{{ item.smallTable }}</td>
                    <td [style.color]="item.statistics | numberColor">{{ item.statistics }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>   
</div>